body {
	display: flex;
	justify-content: center;
}
.keys {
	display: flex;
	flex-wrap: wrap;
}
.row1 {
	display: flex;
	width: 100%;
	height: 100%;
}
.row2 {
	display: flex;
	width: 100%;
	height: 100%;
}
.row3 {
	display: flex;
	width: 100%;
	height: 100%;
}
.row4 {
	display: flex;
	width: 100%;
	height: 100%;
}
.row5 {
	display: flex;
	width: 100%;
	height: 100%;
}
p {
	display: flex;
	width: 35.5%;
	margin: 0px;
	background-color: #61b34f;
}

button {
	width: 110px;
	height: 149px;
	background-color: #61b34f;
	font-size: 22px;
	color: #fdfffe;
}

#opto {
	background-color: #82c276;
}
.output {
	background-color: #82c276;
	width: 330px;
}
